/local_workspace/*
!/local_workspace/.gitkeep

!/local_workspace/datasets/
/local_workspace/datasets/*
!/local_workspace/datasets/.gitkeep

!/local_workspace/results/
/local_workspace/results/*
!/local_workspace/results/.gitkeep

/src/__pycache__/