((* extends 'latex/index.tex.j2' *))

((* block header *))
((( super() )))
\usepackage{enumitem}
\makeatletter\renewcommand{\maketitle}{}\makeatother
\renewcommand{\prompt}[4]{}
\usepackage{titlesec}
\titleformat{\section}[block]{\Large\bfseries}{}{0pt}{}
\setcounter{secnumdepth}{3}
\AtBeginDocument{\setcounter{subsection}{-1}}
\renewcommand\thesubsection{\arabic{subsection}}
\renewcommand\thesubsubsection{\arabic{subsection}.\arabic{subsubsection}}
((* endblock header *))

((* block markdown_heading *))
  {% if level == 1 %}
    \section*{ {{ heading_text | escape_latex }} }
  {% else %}
    ((( super() )))
  {% endif %}
((* endblock markdown_heading *))